<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed Pet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
</head>
<body>
    <h1>Feed Your Pet</h1>
    <form action="{{ url_for('feed_pet') }}" method="POST">
        <input type="hidden" name="username" value="{{ username }}">
        <input type="hidden" name="pet_name" value="{{ pet_name }}">
        <button type="submit" name="food" value="Kibble">Kibble</button>
        <button type="submit" name="food" value="Fish">Fish</button>
        <button type="submit" name="food" value="Chicken">Chicken</button>
        <button type="submit" name="food" value="Vegetables">Vegetables</button>
    </form>
    <ul>
        {% for pet in pets %}
            {% if pet['Name'] == pet_name %}
                <h2>Updated Stats for {{ pet['Name'] }}:</h2>
                <p>Hunger: {{ pet['Hunger'] }}</p>
                <p>Energy: {{ pet['Energy'] }}</p>
                <p>Happiness: {{ pet['Happiness'] }}</p>
            {% endif %}
        {% endfor %}
    </ul>


    <form action="{{ url_for('menu') }}" method="GET">
        <input type="hidden" name="username" value="{{ username }}">
        <button type="submit">Return to Main Menu</button>
    </form>
</body>
</html>