<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Game - Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome, {{ username }}!</h1>

        <h2>Your Pets:</h2>
        
        <ul>
            {% if pets %}
    <ul>
        {% for pet in pets %}
            <li>{{ pet['Name'] }} - {{ pet['Animal Type'] }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>You have no pets!</p>
{% endif %}

        </ul>

        <h2>Create a New Pet:</h2>
        <form action="{{ url_for('create_pet') }}" method="POST">
            <input type="hidden" name="username" value="{{ username }}">
            <label for="pet_type">Choose Pet Type:</label>
            <select id="pet_type" name="pet_type" required>
                <option value="Dragon">Dragon</option>
                <option value="Rock">Rock</option>
                <option value="Hedgehog">Hedgehog</option>
            </select>
            <label for="pet_name">Pet Name:</label>
            <input type="text" id="pet_name" name="pet_name" required>
            <input type="submit" value="Create Pet">
        </form>
        
        <form action="{{ url_for('activity') }}" method="POST">
            <input type="hidden" name="username" value="{{ username }}">
            
            <label for="pet_name">Select a Pet:</label>
            <select name="pet_name" id="pet_name">
                {% for pet in pets %}
                    <option value="{{ pet['Name'] }}">{{ pet['Name'] }} ({{ pet['Animal Type'] }})</option>
                {% endfor %}
            </select>
            
            <label for="activity">Choose an Activity:</label>
            <select name="activity" id="activity">
                <option value="Feed">Feed</option>
                <option value="Play">Play</option>
                <option value="Fight">Fight</option>
            </select>
            
            <button type="submit">Submit</button>
        </form> 

        
        <form action="{{ url_for('activity') }}" method="post">
            <input type="hidden" name="username" value="{{ username }}">
            
            <input type="submit" name="activity" value="Quit">
        </form>
    </div>
</body>
</html> 

